<%- include("../partials/header") %>
	<h1>Profile Page</h1>
	<div class="container">

		<li><%=user.username%></li>
		<li><%=user.firstName%>-<%=user.lastName%></li>
		<li><%=user.email%></li>
		<li><%=user.DoB%></li>
	</div>

<%- include("../partials/footer") %>